
.DS_Store
test.csv
train.csv
.ipynb_checkpoints/GM1-notebook-checkpoint.ipynb
.ipynb_checkpoints/Generate_mini_data-checkpoint.ipynb
data/sample_submission.csv
.ipynb_checkpoints/AM_w207_final_adapted_notebook-checkpoint.ipynb
.ipynb_checkpoints/KH-notebook-checkpoint.ipynb
.ipynb_checkpoints/HelperFunctions-checkpoint.ipynb
.ipynb_checkpoints/data_wrangling-checkpoint.ipynb
data/train_data_clean.csv
data/train_labels.csv
data/train_ids.csv
.ipynb_checkpoints/GM-KH-notebook-checkpoint.ipynb
data/train_clean.csv
data/test_clean.csv
.ipynb_checkpoints/data_wrangling_test_data-checkpoint.ipynb
.ipynb_checkpoints/encoding-checkpoint.ipynb

data/mini_initial.csv
data/mini_initial.csv
data/mini_initial_test.csv
